* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(106, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: #EEE2DE;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA906C;
    box-shadow: 0px 0px 10px rgba(80, 7, 7, 0.975);
    border-radius: 7px;
    padding: 12px;
    position: absolute;
}
.btn:hover{
    background-color: #e46e40;
    transition: 0.2s;
    transform: scale(1.1);
    cursor:pointer;
}
.janela_modal{
    width: 100vw;
    height: 100vh;
    position: relative;
    top:0;
    left:0;
    background-color: #0000003b;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.janela_modal.open{
    display:flex;
}
.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff8f;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
    color:#EEE2DE;
    font-size: 10pt;
}
@keyframes openingModal{
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.open .modal{
    animation: openingModal 0.4s;
}