* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body {
    background-color: rgb(2, 155, 178);
    background-repeat: no-repeat;
    transition: 0.2s linear;
}

body.dark {
    background: rgb(32, 86, 107);
    transition: 0.2s linear;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

#cab {
    width: 100%;
}

#head {
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.2);
    color: #024a60;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.2s linear;
    position: sticky;
    background: linear-gradient(58deg, rgb(204, 224, 231) 0%, rgb(152, 178, 187) 50%, rgb(113, 156, 172) 100%);
}

#head a {
    margin-left: 41%;
    font-size: 15pt;
    text-shadow: 0px 1px 1.2px rgba(0, 0, 0, 0.249);
    transition: 0.2s linear;
}

#head a:hover {
    color: #0c5166;
    font-size: 16pt;
}

.dark #head {
    background-color: rgb(59, 67, 68);
    color: #9fcbda;
    transition: 0.2s linear;
    background: linear-gradient(192deg, rgb(83, 89, 90) 0%, rgb(72, 80, 81) 50%, rgb(54, 66, 68) 100%);
}
.dark #head a:hover{
    color: #d8deeb;
}
#container{
    padding-top: 20px;
}
.table tbody tr td {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.2em; 
    opacity: 1;
    cursor: pointer;
}
.truncate-text{
    border: none;
    background-color: inherit;
}
.janela_modal{
    width: 100vw;
    height: 100vh;
    position: relative;
    top:0;
    left:0;
    background-color: #0000003b;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.janela_modal.open{
    display:flex;
}
.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff8f;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
    color:#EEE2DE;
}
.checar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: -3.5vh;
}

.checkbox {
    position: absolute;
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    width: min-content;
    opacity: 0;
}

.fundo {
    background-color: #02222a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transform: scale(1.5);
    width: 26.5px;
    height: 13px;
    margin-top: 10px;
}

.fundo .ball {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 1.4px;
    height: 9px;
    width: 9px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.fundo .ball {
    transform: translateX(1.5vh);
}

.fundo .bi-sun-fill {
    color: rgb(235, 184, 81);
    font-size: 7.5px;
    position: relative;
    left: 3px;
}

.fundo .bi-moon-stars-fill {
    color: rgb(237, 235, 215);
    font-size: 6.5px;
    position: relative;
    left: -2px;
}
.content .btn_add {
    margin-right: inherit;
}

.btn_add {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
}

#btn-add {
    border: none;
    background-color: #14d0e9;
    color: #035973;
    box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.321);
    padding: 8px 16px;
    border-radius: 5px;
}

#btn-add:hover {
    background-color: #03b6d2;
    color: #073546;
    transition: 0.1s linear;
}

.dark #btn-add{
    background-color: #006a87;
    color: #eaebed;
    transition: 0.2s linear;
}

.dark #btn-add:hover {
    background-color: #014e64;
    color: #fff;
}

#btn-edit {
    border: none;
    background-color: #64bbcc;
    color: #ecf6f9;
}
.dark #btn-edit{
    background-color: #1d515f;
}
#btn-edit:hover {
    background-color: #549baa;
    color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
}
.dark #btn-edit:hover{
    background-color: #17404b;
}
#btn-del {
    border: none;
    background-color: #B31312;
    color: #f3d0d0;
}
.dark #btn-del{
    background-color: #840d0d;
}
.dark #btn-del:hover{
    background-color: #6f0b0b;
}
#btn-del:hover {
    background-color: #900909;
    color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.321);
    transition: 0.2s linear;
}
.dark tr:nth-child(even) {
    background-color: #313234;
  }
  .dark tr:nth-child(even) td.cell:hover {
      background-color: #313234;
    }
td:hover{
    background-color: rgb(226, 226, 226);
    transition: 0.2s linear;
}
td.cell:hover {
    background-color: #ffffff;
}
/*problema que vc quer resolver aqui emabixo*/
.dark td.cell:hover{
    background-color: #3a3b3d;
}
.dark .table{
    background-color: #3c3d3f;
    color: #eaebed;
}
.dark .card{
    background-color: #3c3d3f;
}
.dark td{
    color: #c2c2c5;
}
.dark td:hover{
    background-color: #2d2e30;
    color: #eaebed;
}
footer {
    display: flex;
    justify-content: center;
    color: #29b2dc;
}