* {
    padding: 0;
    margin: 0;
    padding: 0;
    height: 100;
    width: 100;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

#head {
    display: flex;
    justify-content: center;
    font-size: larger;
    background-color: #cce0e7;
    box-sizing: 0px 5px 7px rgba(0, 0, 0, 0.455);
    color: #035973;
    position: sticky;
    width: 100%;
}

#head a {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.237);
}

#head a:hover {
    color: #073745;
    font-size: 15pt;
    transition: 0.2s linear;
    margin-bottom: -1.2px;
}
#head.dark{
    background-color: #3b4344;
    color: #72a6b7;
}
#head.dark a:hover{
    color: #eaebed;
}
body {
    height: 100vh;
    background: rgb(1, 167, 194);
    background: linear-gradient(180deg, rgb(2, 155, 178) 0%, rgba(1, 167, 194, 1) 50%, rgba(0, 105, 137, 1) 100%);
    background-repeat: no-repeat;
  transition: 0.3s linear;
}
body.dark {
  background: rgb(103, 126, 135);
  background: linear-gradient(180deg, rgb(32, 86, 107) 0%, rgba(19, 55, 65, 1) 100%);
}

#btn-add {
    border: none;
    background-color: #14d0e9;
    color: #035973;
    box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.321);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    
}

#btn-add:hover {
    background-color: #03b6d2;
    color: #073546;
    transition: 0.2s linear;
}
#btn-add.dark{
    background-color: #006a87;
    color: #eaebed;
}
#btn-add.dark:hover{
    background-color: #014e64;
    color: #fff;
}
#btn-edit {
    border: none;
    background-color: #64bbcc;
    color: #ecf6f9;
}

#btn-edit:hover {
    background-color: #549baa;
    color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
}

#btn-del {
    border: none;
    background-color: #B31312;
    color: #f3d0d0;
}

#btn-del:hover {
    background-color: #900909;
    color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.321);
    transition: 0.2s linear;
}
.checar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3%;
}

.checkbox {
    position: absolute;
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    width: min-content;
    opacity: 0;
}

.fundo {
    background-color: #02222a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transform: scale(1.5);
    width: 26.5px;
    height: 13px;
    margin-top: 10px;
}

.fundo .ball {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 1.4px;
    height: 9px;
    width: 9px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.fundo .ball {
    transform: translateX(1.5vh);
}

.fundo .bi-sun-fill {
    color: rgb(235, 184, 81);
    font-size: 7.5px;
    position: relative;
    left: 3px;
}

.fundo .bi-moon-stars-fill {
    color: rgb(237, 235, 215);
    font-size: 6.5px;
    position: relative;
    left: -2px;
}


footer {
    display: flex;
    justify-content: center;
    color: #059ac8;
}